<h2>Registracija novog korisnika</h2>
<hr />
<form>
    <table>
        <tr>
            <td>Korisnicko ime:</td>
            <td>
                <input type='text' name='korisnickoIme' [(ngModel)]='noviKorisnik.korisnickoIme'>
            </td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td>
                <input type='password' name='lozinka' [(ngModel)]='noviKorisnik.lozinka'>
            </td>
        </tr>
        <tr>
            <td>Ime:</td>
            <td>
                <input type='text' name='ime' [(ngModel)]='noviKorisnik.ime'>
            </td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td>
                <input type='text' name='prezime' [(ngModel)]='noviKorisnik.prezime'>
            </td>
        </tr>
        <tr>
            <td>Telefon:</td>
            <td>
                <input type='text' name='telefon' [(ngModel)]='noviKorisnik.telefon'>
            </td>
        </tr>
        <tr>
            <td>Email adresa:</td>
            <td>
                <input type='email' name='email' [(ngModel)]='noviKorisnik.email'>
            </td>
        </tr>
        <tr>
            <td>Izaberite ulogu:</td>
            <td>
                <select name="uloga" [(ngModel)]="noviKorisnik.uloga">
                    <option value="" disabled selected>-- Odaberi ulogu --</option>
                    <option value="SPORTISTA">Sportista (Korisnik)</option>
                    <option value="ZAPOSLENI">Zaposleni u objektu</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Odaberite sportove (max 5):</td>
            <td>
                <select name="sportovi" multiple [(ngModel)]="odabraniSportovi" style="height: 100px;">
                    @for(sport of sviSportovi; track sport.naziv) {
                        <option [value]="sport.naziv">{{sport.naziv}}</option>
                    }
                </select>
                <div class="small text-muted">Držite Ctrl (ili Cmd) za višestruki odabir.</div>
            </td>
        </tr>
        <tr>
            <td>Profilna slika:</td>
            <td>
                <input type="file" accept="image/*" (change)="naOdabirSlike($event)">
                <br>
                <span>ili</span>
                <br>
                <button type="button" (click)="generisiAvatar()">Generiši avatar (DiceBear)</button>
            </td>
        </tr>
        @if (generisaniAvatarUrl) {
            <tr>
                <td>Pregled avatara:</td>
                <td>
                    <img [src]="generisaniAvatarUrl" alt="Avatar" width="100" height="100">
                    <br>
                    <button type="button" (click)="sacuvajAvatar()">Sačuvaj kao profilnu sliku</button>
                </td>
            </tr>
        }
        <tr>
            <td colspan='2'>
                <input type='button' value='Posalji zahtev' (click)='registrujSe()'>
            </td>
        </tr>
    </table>
</form>

<span style="color: red">{{poruka}}</span>
<br><br>
<a routerLink="/prijava">Vec imate nalog? Prijavite se ovde.</a>